.qoute3-main-div{
    height: auto;
    min-height: 90vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.qoute3-main-h1 h1{
    font-size: 62px;
    font-family: 700;
    text-align: center;
}
.qoute3-body{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    width: 100%;
    margin-top: 4rem;

}

.three-img-div{
    height: auto;
    min-height: 200px;
    width: 300px;
    background-color: rgb(249, 248, 248);
}
.three-img-div img{
    max-width: 100%;
    height: auto;
    max-height: 70%;
}
.three-img-body{
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 2rem;
    line-height: 30px;
}
.three-img-body h5{
    font-weight: 450;
}
.three-img-body p{
    font-weight: 100;
}
.qoute3-btn{
    text-align: center;
    margin: 3rem 0;
}
.qoute3-btn button{
    border: none;
    border-radius: 5px;
    padding: 10px;
    background-color: black;
    color: white;
    font-size: 24px;
    width: 250px;
}
