.qoute1-main-div{
    height: auto;
    min-height: 90vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.qoute1-body h1{
    text-align: center;
    margin-bottom: 1rem;
}
.qoute1-body{
    height: auto;
    min-height: 200px;
    width: 100%;
    max-width: 500px;
}
.qoute1-body input{
    width: 100%;
    min-height: 50px;
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px 20px;
}
.qoute1-btn{
    text-align: center;
    margin-top: 30px;
}
.qoute1-btn button{
    width: 200px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: black;
    color: white;
}
